* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Verdana, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: teal;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1080px) {
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    text-align: center;
    padding: 16px 0;
    opacity: 100%;
    width: 200px;
  }
  
  .menu li {
    background-color: teal;
    display: inline-block;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  } 

  input[type=checkbox]:checked ~ .menu {
    transition: 1s ease;
    display: block;
    z-index: 20;
  }

  .hamburger {
    display: block;
  }
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.bigback {
  background-color: black;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0px 15px;
  z-index: 10;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { opacity: 0.6; } ;
  to { opacity: 1; } ;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next { font-size: 11px; } ;
}

.gbox {
  display: flex;
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0px 15px;
  z-index: 10;
}

.page-description {
  flex: 2;
}

.page-icon {
  flex: 1;
}

.page-icon h1 {
  font-size: 10vw;
}
